
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
    @Styles.Render("~/Login/css")
</head>

<body class="text-center">
    @RenderBody()
</body>
</html>
<script src="~/Components/JQuery/jquery-3.1.1.js"></script>
@RenderSection("scripts", required: false)