<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--SERVICIO-->
  <add key="PEC.Host.Url" value="http://localhost:2450/" />
  <add key="PEC.Host.Binding" value="basicHttpBinding" />

  <!--REPORTES-->
  <add key="SSRS_SERVER" value="http://10.200.4.31/ReportServer" />
  <add key="SSRS_USER" value="UmasterReport" />
  <add key="SSRS_PASSWORD" value="despliegue" />
  <add key="SSRS_DOMAIN" value="10.200.4.31" />
  <add key="SSRS_PATH_REPORTS" value="/PEC/DEV/Reportes" />

</appSettings>