<?xml version="1.0"?>
<appSettings>
  <add key="StringsPEC_RegistryKey" value="MED\\PEC" />
  <add key="MetaData" value="PEC.ModeloPEC" />
  <!--<add key ="PECDbContext" value ="Data Source=LAPTOP-BPT8DP2A\ALDEHU;Initial Catalog=Logistica;User ID=sa;Password=*956425036*;MultipleActiveResultSets=True;App=EntityFramework"/>-->
  <add key="PECDbContext" value="Data Source=LENOVO-PC\\MSSQLSERVERXPR;Initial Catalog=Logistica;User ID=sa;Password=123456;MultipleActiveResultSets=True;App=EntityFramework"/>

</appSettings>
